[flake8]
ignore =
	# C812: Missing trailing comma. Deactivated because of incompatibility with black.
	C812,
	# C815 missing trailing comma in Python 3.5+. Deactivated because of incompatibility with black.
	C815
	# E203: Space before :. Deactivated because of incompatibility with black, see https://github.com/ambv/black#slices.
	E203,
	# E402: Module level import not at top of file. We sometimes need this (e.g. mparams, dataflow).
	E402,
	# I100: Import statements are in the wrong order. Deactivated because we often need to import `future` at the beginning
	#       for Python2/3 compatibility.
	I100,
	# I201: Missing newline between import groups. Same as I100.
	I201,
	# W503: Handling of breaking around binary operators. Necessary because of Flake8 update in
	#       https://github.com/merantix/core/commit/dee61ff623b2cb08d6827afcea502edb9a8f76fb
	W503,
	# W605: Invalid escape sequence 'x'. Necessary because of Flake8 update in
	#       https://github.com/merantix/core/commit/dee61ff623b2cb08d6827afcea502edb9a8f76fb
	W605,
    # E999: SyntaxError: invalid syntax. Necessary because our Flake8 hook runs in Python2 and therefore doesn't
    #       understand Python3 type annotations. TODO: remove after migrated to Python3
    E999,
    # The following is for the docstring plugin, to make it not that whiny. We are happy if we have docstrings on all functions
    D202, # No blank lines allowed after function docstring
    D205, # 1 blank line required between summary line and description
    D212, # Multi-line docstring summary should start at the first line
    D100, # Missing docstring in public module
    D101, # Missing docstring in public class
    D103, # Missing docstring in public function
    D104, # Missing docstring in public package
    D415, # First line should end with a period, question mark, or exclamation point
    ANN101, # Missing type annotation for self in method
	ANN102, # Missing type annotation for cls in classmethod
    ANN002, # Missing type annotation for *args 
	ANN003 # Missing type annotation for **kwargs

max_line_length = 120
import_order_style = appnexus
application_package_names = mxlabs_chameleon
docstring-convention=google
exclude =
    .git,
    __pycache__,
    docs,
    build,
    dist